


:root {
  --blue: hsl(14, 45%, 36%);
  --white: hsl(332, 51%, 32%);
  --test: hsl(0, 0%, 100%);
  --fff: hsl(330, 100%, 98%);
  --vvv: hsl(30, 54%, 90%);
  --xxx: hsl(30, 18%, 87%);
  --aaa: hsl(30, 10%, 34%);
}

body{
    background-color: var(--vvv);

}
.Ingredients{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Nutrition{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Instructions{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec{
    background-color: white; width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}
.im{
    border-radius: 10px;
}
.h2r{
    color: rgb(63, 63, 63); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Preparation{
    background-color:var(--fff); border-radius: 7px;
    padding: 10px;
    color: brown;
}
.table1{
    display: grid;
   grid-template-columns: 1fr 1fr;
}





